h1 {
    font-size: 2em;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .order-details__status,
  .order-details__farm,
  .order-details__customer {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .order-details__status {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #ff6347;
  }
  
  .order-details__farm {
    color: #4682b4;
  }
  
  .order-details__customer {
    color: #2e8b57;
  }
  .order-details__cancel-btn {
    background-color: red;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
  }
  
  .order-details__accept-btn {
    background-color: green;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }

  .order-details__deliver-btn{
    background-color: blue;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-right: 1rem;
  }

  div > h3 {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    color: #333;
  }
  .delivered {
    background-color: #dff7df; 
    color: black;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
  }
  
  .canceled {
    background-color: #ffcccc;
    color: black;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
  }
  
  .pending {
    background-color: #FFE4B5; 
    color: black;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
  }
  
  .to-deliver {
    background-color:  #E0FFFF;
    color: black;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
  }

  .order-management__name{
    text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:3.5rem;    
        font-size: 2rem;
        span{
            color:#fca311;
        }
  }
  
.select-farm{
  margin-left: 1rem;
  padding: .5rem;
  border-radius: 4px;
  box-shadow: 0 #333 #333 ;
  background-color: #f8f8f8;
  color: #333;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}
.order-management__farm{
  margin-bottom: 3rem;
}