<form method="post" class="form">
    <div>
        <label for="product-image">Product Image: </label><br>
        <input type="file" id="product-image" class="product-image" accept="image/*" required>
    </div>
    <div>
        <label for="product-name" value="test">Product Name: </label><br>
        <input type="text" name="product-name" id="product-name" placeholder="Product Name" required>
    </div>
    <div>
        <label for="price">Price: </label><br>
        <input type="number" name="price" id="price" placeholder="Price" required>
    </div>

    <div>
        <label for="quantity">Quantity: </label><br>
        <input type="number" name="quantity" id="quantity" placeholder="Quantity" required>
    </div>
    <div>
        <label for="quantity-unit">Quantity Unit: </label><br>
        <input type="text" name="quantity-unit" id="quantity-unit" placeholder="Quantity Unit (Kg, Litre, ...)"
            required>
    </div>
    <div>
        <label for="description">Description: </label><br>
        <input type="text" name="description" id="description" placeholder="Description" required>
    </div>
    <div>
        <label for="category">Category: </label><br>
        <input type="text" name="category" id="category" placeholder="Category" required>
    </div>

    <input type="submit" class="submit-btn green-btn" style='background-color:#4CAF50 ;' value="Add Product">
</form>