<form method="post">
    <div>
        <label for="product-image">Product Image: </label>
        <input type="file" id="product-image" class="product-image">
    </div>
    <div>
        <label for="product-name" value="test">Product Name: </label>
        <input type="text" name="product-name" id="product-name" value="test">
    </div>
    <div>
        <label for="price">Price: </label>
        <input type="number" name="price" id="price" value=1>
    </div>

    <div>
        <label for="quantity">Quantity: </label>
        <input type="text" value=1 name="quantity" id="quantity">
    </div>
    <div>
        <label for="quantity-unit">Quantity Unit: </label>
        <input type="text" value=1 name="quantity-unit" id="quantity-unit">
    </div>
    <div>
        <label for="description">Description: </label>
        <input type="text" name="description" id="description" value=1>
    </div>
    <div>
        <label for="category">Category: </label>
        <input type="text" name="category" id="category" value=1>
    </div>

    <div class="select-farm"></div>
    <input type="submit" class="submit-btn" value="Add Product">
</form>