<form method="post">
    <input type="file" id="product-image" class="product-image">
    <label for="product-name" >Product Name</label>
    <input type="text" name="product-name" class="product-name-input" >
    <label for="price">Price</label>
    <input type="number" name="price" class="price-input" >
    <div>
        <label for="quantity">Quantity</label>
        <input type="text"  name="quantity" class="quantity-input">
        <lable for="quantity-unit">Quantity Unit</lable>
        <input type="text"  name="quantity-unit" class="quantity-unit-input">
    </div>
    <label for="description">Description</label>
    <input type="text" name="description" class="description-input" >
    <label for="category">Category</label>
    <input type="text" name="category" class="category-input" >
    <div class="select-farm"></div>
    <input type="submit" class="submit-btn" value="Update">
</form>