.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    input{
        width: 40rem;
        height:2rem;
    }

    .btns{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }

    .submit-btn{
        height: 3rem;
        background-color:#4C9EFF;
        color: white;
    }

    .name{
        display: flex;
        gap: 1rem;
        width: 100%;
    }
    .contact{
        display: flex;
        gap: 1rem;
        width: 100%;
    }
    .have-account-btn,.create-account-btn{
        background-color: transparent;
        color:white;
        border: none;
        box-shadow: none;
    }

    .logIn-btn{
        background-color: #4CAF50;
        color:white;
        border: none;
        box-shadow: none;
    }
}