.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $day-header-background-color;
        border: 1px solid #888;
        justify-content: space-around;
        color: white;
        margin: 15% auto;
        height: auto;
        width: auto;

    }
    
    &__content{
        background-color: var(--btn-background-color);
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        height: 80%;
    }

    &__message{
        text-align: center;
    }

    &__msg-wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1% 5%;
        margin-top: 4rem;
    }

}